.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: roboto;
  margin: 0;
  background: #ffedd5;
  overflow: auto;
}
.circle {
  height: 900px;
  width: 1600px;
  margin: -660px 0 0 0;
  box-shadow: 0px 20px 150px #7c2d12;
  border-radius: 30%;
  background: #ea580c;
}

.outer-box {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
  width: 1200px;
  margin: -150px 0 0 200px;
  box-shadow: 0px 20px 150px #7c2d12;
  border-radius: 30px;
  background: #fff7ed;
  overflow: hidden;
}

.content-box {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 40px 0 40px;
  /* justify-content: center; */
  flex-direction: column;
}
::-webkit-datetime-edit-text {
  padding: 0 0.3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  margin: 100px 100px 100px 0;
  height: 350px;
}

input {
  padding: 10px 40px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

ol {
  font-size: 19px;
  font-family: "futura Md Bt";
  font-weight: 300;
  text-align: justify;
}

h1 {
  font-family: "product sans";
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

h3 {
  font-family: "gotham HTF";
  font-weight: 600;
  text-align: center;
}

button:focus {
  outline: 0;
}

.cookies {
  padding: 20px 0;
  background: #ea580c;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

aside {
  width: 200px;
  margin: -70px 0 0 0;
  font-weight: bold;
  font-size: 14px;
}

a {
  color: black;
}

.git,
.twitter,
.instagram,
.linkedin {
  height: 20px;
  margin: 5px;
}
